body {
font-family: "Roboto", sans-serif;
color:#434455 ;
background-color:#fff ;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    .button{
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            color: #fff;
            background-color: #4d5ae5;
    }
    .button:hover{
        background-color: #404BBF;
    }
    
    
.accent {color: #2e2f42;} 
.accent-two{color: #f4f4fd;}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-menu {
        justify-content: flex-start;
        color: #2e2f42;
    }


.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-item{
    color: #404bbf;
}
.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}
.header-menu-link{
    color: #2e2f42;
}
address {
    font-style: normal;
}
.contacts-mail:hover{
    color: #404bbf;
} 
.contacts-mail:focus {
    color: #404bbf;
}
.contacts-mail {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.erste-teil {
    background-color: #2e2f42;: ;
}

.titel-one {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.taste {
     font-family: "Roboto",sans-serif;
     font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        color: #fff;
        background-color: #4d5ae5;
}
.taste:hover, .taste:focus {
background-color: #404BBF;
}
.zweite-teil {
    
}
.box-zweite-teil{
    
}

.titel-zweite-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-zweite-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.drite-teil {
    background-color: #f4f4fd;
}

.titel-drei {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        background-color: #FFFFFF;
}
.liste-drite-teil {
    background-color: #FFFFFF;
}
.titel-drei-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        background-color: #FFFFFF;
}

.text-drite-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.vierte-teil {}

.titel-vier {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.titel-vierte-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-vierte-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.ende-teil {
    background-color: #2e2f42;
}

.text-ende-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}