body {
font-family: "Roboto", sans-serif;
color:#434455 ;
background-color:#fff ;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }

    .button{
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            color: #fff;
            background-color: #4d5ae5;
    }
    .button:hover{
        background-color: #404BBF;
    }

    img {
        display: block;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    .teil-header {
        border-bottom: 1px solid #e7e9fc;
    }

    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    
    .head-container {
        display: flex;
    }
    
.accent {color: #2e2f42;} 
.accent-two{color: #f4f4fd;}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-novigation {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.header-menu {
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
    gap: 40px;
    padding: 24px 0;
        color: #2e2f42;
    }


.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-item{
    color: #404bbf;
}
.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}
.header-menu-link{
    color: #2e2f42;
}
address {
    font-style: normal;
}
.contacts-mail:hover{
    color: #404bbf;
} 
.contacts-mail:focus {
    color: #404bbf;
}
.contacts-mail {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.erste-teil {
    background-color: #2e2f42;
    margin: 120px;
    padding: 188px 292px 472px 472px;
}


.titel-one {
    font-weight: 700px;
    max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        min-width: 496px;
        margin: 0 auto;
}

.taste {
    display: block;
    min-width: 169px;
    height: 56px;
     font-family: "Roboto",sans-serif;
     font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        border: none;
        background-color: #4d5ae5;
}
.taste:hover, .taste:focus {
background-color: #404BBF;
}
.zweite-teil {
    padding: 120px 0;
}

.zweite-teil-list {
    display: flex;
    gap: 24px;
padding-left: 156px;
padding-right: 156px;
}

.box-zweite-teil{
width: calc((100% - 72px) / 4);
}

.titel-zweite-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.text-zweite-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.drite-teil {
    background-color: #f4f4fd;
}

.drite-teil-list {
    display: flex;
    gap: 24px;

}

.titel-drei {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        background-color: #FFFFFF;
        margin: 0 auto;
        margin-bottom: 72px;
}
.liste-drite-teil {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
}
.titel-drei-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        background-color: #FFFFFF;
        flex-basis: calc((100% - 52px) / 4);
}

.text-drite-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.vierte-teil {
    padding: 120px 156px;
}

.vierte-teil-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.titel-vier {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        padding-top: 120px;
}
.vierte-list {
    display: flex;
}

.titel-vierte-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-vierte-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        border: 1px solid #e7e9fc;
}
.ende-teil {
    background-color: #2e2f42;
    padding: 100px 0;
}

.header-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.text-ende-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        display: flex;
        width: 264px;
        height: 112px;
}