body {
    margin: 0;
font-family: "Roboto", sans-serif;
color:#434455 ;
background-color:#fff ;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }

    .button{
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            color: #fff;
            background-color: #4d5ae5;
    }
    .button:hover{
        background-color: #404BBF;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    .teil-header {
        border-bottom: 1px solid #e7e9fc;
    }

    .container {
        display: flex;
        max-width: 1200px;
        padding: 0 30px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    
    
.accent {color: #2e2f42;} 
.accent-two{color: #f4f4fd;}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-novigation {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.header-menu {
    display: flex;
    align-items: center;
    min-height: 48px;
    margin-left: auto;
    justify-content: flex-start;
    gap: 40px;
        color: #2e2f42;
    }


.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-item{
    color: #404bbf;
}
.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}
.header-menu-link{
    display: flex;
    align-items: center;
    padding: 24px 0;
    text-decoration: none;
    color: #2e2f42;
}
address {
    font-style: normal;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contacts-mail:hover{
    color: #404bbf;
} 
.contacts-mail:focus {
    color: #404bbf;
}
.contacts-mail {
    text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: #434455;
}


.contacts-list {
    display: flex;
    gap: 40px;
}

.erste-teil {
    display: block;
    text-align: center;
    background-color: #2e2f42;
    padding: 188px 0;
}


.titel-one {
    font-weight: 700;
    max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
}

.taste {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 356px 0;
    justify-content: center;
    align-items: center;
     font-family: "Roboto",sans-serif;
     font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        border: none;
        background-color: #4d5ae5;
}
.taste:hover, .taste:focus {
background-color: #404BBF;
}
.zweite-teil {
    padding: 120px 0;
}

.zweite-contein {
    padding-left: 156px;
        padding-right: 156px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.zweite-teil-list {
    display: flex;
    gap: 24px;
}

.box-zweite-teil{
    display: block;
flex-basis: calc((100% - 3 * 24px) / 4);
}

.titel-zweite-teil {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.text-zweite-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.drite-teil {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.drite-teil-list {
    display: flex;
    gap: 24px;

}

.titel-drei {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        background-color: #FFFFFF;
        margin: 0 auto;
        margin-bottom: 72px;
}

.driete-app-conteiner {
padding: 32px 0;

}

.liste-drite-teil {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    text-align: center;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
}
.titel-drei-teil {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.text-drite-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.vierte-teil {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.vierte-teil-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
    margin-bottom: 72px;
    padding: 0;
    list-style: none;
}

.titel-vier {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        padding-top: 120px;
        margin-bottom: 72px;
}
.vierte-list {
    display: flex;
    width: calc((100% - 48px) / 3);
    flex-direction: column;
    align-items: center;
}

.vierte-app-conteiner {
    text-align: center;
    width: 360px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.titel-vierte-teil {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-vierte-teil {
    margin-top: 10px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        border: 1px solid #e7e9fc;
}
.ende-teil {
    background-color: #2e2f42;
    padding: 100px 0;
}

.header-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.text-ende-teil {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        display: flex;
        width: 264px;
        height: 112px;
}